/* transition help to move an object from one place to other place 
 transition: all 0.5s linear;   all make all the element 0.5=>time linear is the direction*/

.container {
  /* display: flex; */
  position: relative;
  /* margin: 150px auto; */
  /* border: 1px solid black; */
  width: 200px;
  height: 200px;
  /* transition: all 0.5s linear; */
  /* transition: all 0.5s ease-in; */
  /* animation: myMove 5s linear; */
}
/* .box1 {
  position: absolute;
  background: green;
  width: 100%;
  height: 100%;
  /* animation-name: colorChange;
  animation-duration: 4s; 
}*/

.box1 {
  position: absolute;
  top: 80%;
  background: rgb(241, 86, 13);
  width: 100%;
  height: 100%;
  animation-name: colorChange;
  animation-duration: 4s;
  /* how many times the animation works...upto (infinite) */
  animation-iteration-count: 3;
  /* animation finally stays on the last shape (forward backward)*/
  animation-fill-mode: forwards;
  /* delay the animation */
  animation-delay: 2s;
  /* direction of the animation reverse and alternate-alternate will go clock-wise first 
  and then anti clockwise with the count
    */
  animation-direction: alternate;
}

@keyframes colorChange {
  0% {
    background-color: white;
    left: 0px;
    top: 0px;
    border-radius: 0 0 0 0;
  }
  25% {
    background-color: rgb(206, 19, 19);
    left: 300px;
    top: 0px;
    border-radius: 50% 0 0 0;
  }
  50% {
    background-color: rgb(49, 22, 150);
    left: 300px;
    top: 300px;
    border-radius: 50% 50% 0 0;
  }
  75% {
    background-color: rgb(223, 130, 23);
    left: 0px;
    top: 300px;
    border-radius: 50% 50% 50% 0;
  }
  100% {
    background-color: rgb(126, 39, 51);
    left: 0px;
    top: 0px;
    border-radius: 50% 50% 50% 50% 50%;
  }
}
/* .box1:hover {
  height: 50%;
  width: 50%;
  transform: scale(0.5);
} */
