// make sure you import this file to main file
// seperate the code using mixin
@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  //   import this using @include whereever you want
}
header {
  @include flexcenter();
  background: rgb(192, 105, 105);
  color: $text-color;
  // nesting
  button {
    background: $primaryBtn;

    &:hover {
      background: yellow;
    }
  }
}
